.para {
  font-size: 20px;
  font-weight: bold;
}

.items {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.button {
  background-color: white;
  color: #ff0b37;
  border-color: #ff0b37;
  height: 30px;
  width: 90px;
  border-radius: 10px;
}

.btn-container {
  padding-top: 20px;
}
